CompileFlags:
  # colcon exports a merged database to build/compile_commands.json.
  CompilationDatabase: build
  Remove:
    - -Werror

Diagnostics:
  ClangTidy:
    Add:
      - bugprone-*
      - performance-*
      - portability-*
    Remove:
      - bugprone-easily-swappable-parameters
  UnusedIncludes: Strict

Index:
  Background: Build

InlayHints:
  Enabled: true

Hover:
  ShowAKA: true
