[submodule "src/hik-driver"]
    path = src/hik-driver
    url = https://github.com/PnX-HKUSTGZ/hik-driver.git
    branch = dart
[submodule "src/rm_gimbal_description"]
    path = src/rm_gimbal_description
    url = https://github.com/PnX-HKUSTGZ/rm_gimbal_description.git
    branch = main
[submodule "src/video_reader"]
    path = src/video_reader
    url = https://github.com/PnX-HKUSTGZ/video_reader.git
    branch = dev
[submodule "src/livox_ros2_driver"]
	path = src/livox_ros2_driver
	url = https://github.com/blademaster679/livox_ros2_driver.git
[submodule "src/topic_recorder"]
	path = src/topic_recorder
	url = https://github.com/PnX-HKUSTGZ/topic_recorder.git
	branch = main
